services:
  hackathon-surguai-2025-backend-dev:
    container_name: hackathon-surguai-2025-backend-dev
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        - BUILDKIT_INLINE_CACHE=1
    restart: unless-stopped
    command: 
      - sh
      - -c
      - "uv run alembic -c alembic.ini upgrade head && uv run uvicorn app.main.app:create_app --factory --host 0.0.0.0 --port=8080 --reload"
    env_file:
      - path: .env.dev
        required: true
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/code
      - /code/.venv
    networks:
      - app_network
    depends_on:
      hackathon-surguai-2025-postgres-dev:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/api/v1/healthcheck" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    profiles:
      - dev

  hackathon-surguai-2025-frontend-dev:
    container_name: hackathon-surguai-2025-frontend-dev
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - BUILDKIT_INLINE_CACHE=1
    restart: unless-stopped
    env_file:
      - path: .env.dev
        required: false
    ports:
      - "5173:5173"
    networks:
      - app_network
    depends_on:
      - hackathon-surguai-2025-backend-dev
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5173" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    profiles:
      - dev

  hackathon-surguai-2025-nginx-dev:
    image: nginx:alpine
    container_name: hackathon-surguai-2025-nginx-dev
    restart: unless-stopped
    command: >
      sh -c "
      envsubst '$$SERVER_NAME $$BACKEND_URL $$FRONTEND_URL' 
      < /etc/nginx/templates/dev.conf.template 
      > /etc/nginx/nginx.conf &&
      while :; do sleep 6h & wait $${!}; nginx -s reload; done & 
      nginx -g 'daemon off;'
      "
    env_file:
      - path: .env.dev
        required: true
    volumes:
      - ./nginx/dev.conf.template:/etc/nginx/templates/dev.conf.template:ro
    ports:
      - "80:80"
    depends_on:
      - hackathon-surguai-2025-frontend-dev
      - hackathon-surguai-2025-backend-dev
    networks:
      - app_network
    profiles:
      - dev

  hackathon-surguai-2025-postgres-dev:
    image: postgres:18-alpine
    container_name: hackathon-surguai-2025-postgres-dev
    restart: unless-stopped
    command: [ "postgres", "-c", "hba_file=/var/lib/postgresql/pg_hba.conf" ]
    env_file:
      - path: .env.dev
        required: true
    ports:
      - "5555:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./pg_hba.conf:/var/lib/postgresql/pg_hba.conf
    networks:
      - app_network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    profiles:
      - dev
  hackathon-surguai-2025-redis-dev:
    image: redis:alpine
    container_name: hackathon-surguai-2025-redis-dev
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli","ping"]
      interval: 30s
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network
    profiles:
      - dev

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local

networks:
  app_network:
    driver: bridge